<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>step04_CP</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Oracle Datasource example</description>
    <res-ref-name>jdbc/myoracle</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  
  <servlet>
    <servlet-name>AllController</servlet-name>
    <servlet-class>controller.AllController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllController</servlet-name>
    <url-pattern>/cont</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>LoginSuccessView</servlet-name>
    <servlet-class>view.LoginSuccessView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSuccessView</servlet-name>
    <url-pattern>/loginSucc</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>RenameView</servlet-name>
    <servlet-class>view.RenameView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenameView</servlet-name>
    <url-pattern>/renameview</url-pattern>
  </servlet-mapping>
  
  <session-config>
  <session-timeout>10</session-timeout>
  </session-config>
</web-app>